.side_bar {
  width: 300px;
  height: 100vh;
  color: $basewhite;

  a {
    color: $basewhite;
    text-decoration: none;
  }

  &__side-header {
    display: flex;
    height: $pxFull;
    align-items: center;
    background-color: #253141;
    padding: 0 20px;

    &__box {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      height: 20px;
      width: $full;

        &__user-name {
          font-size: 16px;
          font-weight: bold;
        }

      &__menu {
        display: flex;
        justify-content: space-between;

        &__edit{
          padding-right:5px;
        }
      }
    }
  }

  &__group-list {
    text-decoration: none;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;

    &__group {
      color: $basewhite;
      text-decoration: none;
      margin-bottom: 40px;
      text-decoration: none;

      &__g-name {
        margin-bottom: 5px;
        font-size: 15px;
      }

      &__g-messages {
        font-size: 11px;
      }
    }
  }
}